<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width", initial-scale=1>
  <meta name="author" content="Adrianna Doutzen D. Pena">
  <meta name="description" content="Happy bday">
  <meta name="keywords" content="happy">
  <title>Pena - CS 3 </title>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link href="style.css" rel="stylesheet" type="text/css" />
  <link rel="icon" type="image/x-icon" href="">
</head>

<body class="w3-container w3-auto">
  <div class="w3-bar w3-black">
    <a href="/" class="w3-bar-item w3-button w3-mobile">Home</a>
    <a href="#" class="w3-bar-item w3-button w3-mobile">Happy</a> 
  </div>

  <header class="w3-container" id="header"> 
    <h1>Addie Pena - 9-Sr - March 2025</h1>
    <h2> Birthday </h2>
  </header>

  <section class="w3-container" id="input"> 

    <div  id = "output">
        <h2>Output <br></h2>
        {{#each data}}
          {{@key}}: {{this}} <br>
        {{/each}}
    </div> 

    <h2>Happy Birthday Song:</h2>
    
    {{#each data}}
      {{#if (lookup ../data (concat "checkbox" (last @key)))}}
        {{#if (startsWith @key "name")}}
          <p>{{this}}</p>
        {{/if}}
      {{/if}}
    {{/each}}

    <p>For {{#if data.gender}}{{#if (eq data.gender "female")}}she's{{else}}he's{{/if}}{{/if}} a jolly good fellow, for {{#if data.gender}}{{#if (eq data.gender "female")}}she's{{else}}he's{{/if}}{{/if}} a jolly good fellow, for {{#if data.gender}}{{#if (eq data.gender "female")}}she's{{else}}he's{{/if}}{{/if}} a jolly good fellow, which nobody can deny! </p>

  </section>

  <footer class="w3-container">
    <p> &copy; 2025 Pena </p>
  </footer>
</body>
</html>
